<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.madroom.vmw"
      android:versionCode="4"
      android:versionName="1.0.3">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">

        <receiver android:name="net.madroom.vmw.VolumeMeterWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/volume_meter_widget" />
        </receiver>
        <service android:name="net.madroom.vmw.VolumeMeterWidget$MyService" />

    </application>
</manifest>